
/* =======  PRIMARY GRIDS  =============================================================== */

/* placement phase player board */
#player_copy{
    height:100%;
    width:100%;
}

/* attack phase opponent board */
#opponent{
    height: 100%;
    width:100%;
}

/* =======  BOX CONTAINERS  ============================================================== */

/* centers main container on page */
#page{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#main_container{
    display:flex;
    flex-direction: column;
    width: 500px;
    height:850px;
    border:2px solid black; /* main border */
    margin: 50px 0px;
    background-color: white;
    box-shadow:20px 20px 40px rgba(0,37,37,.70)
}

/* holds upper half of main container */
.upper_box{
    height:500px;
    width:100%;
}

/* holds lower half of main container */
.lower_box{
    height:350px;
    width:499px; /* fine tuning of borders */
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

/* lower left box in both phases */
.lower_left{
    display: flex;
    flex-direction: column;
    width:200px;
    font-size:25px;
    border: 0;
    border-right: 1px;
    border-style: solid;
    border-color: black;
}

.lower_left p{
  margin: 10px;
  font-size: 20px;
}



/* =======  ARROW KEYS  ================================================================== */

/* puts dark gray background around arrow keys and rounds the corners */
.arrow-holder{
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #505050;
    color: white;
    width: 35px;
    height: 35px;
    border-radius:5px;
}

.arrow-holder-left{
    display: inline-block;
    margin-left: 10px;
    margin-right: 0px;
    background-color: #505050;
    color: white;
    width: 35px;
    height: 35px;
    border-radius:5px;
}

.arrow-show{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    background-color: orange;
    color: white;
    width: 35px;
    height: 35px;
    border-radius:5px;
}

.arrows-for-vert{
    padding-left: 9px;
    padding-top: 5px;
    font-size: 25px;
    color: white;
}
/* clean up aesthetic of the arrows */
#right-arrow{
    margin-left: 0px;
}

/* centers arrow keys in box and makes them white */
.arrow{
    padding-left: 12px;
    padding-top: 5px;
    font-size: 25px;
    color: white;
}

/* =======  LOWER RIGHT  ================================================================= */

/* lower right during attack */
.board_container{
    padding: 0px 10px 0px 22.5px;
}

/* lower right during placement */
.ship_select{
    padding: 0px 10px 0px 22.5px;
}

/* lower right box (internal) {ship select then player board} */
.small_box{
    height:270px;
    width:270px;
    margin: 0px 0px 0px 0px;
    background-color: white;
}

/* lower right box (external) */
.lower_right{
    width:300px;
    height:350px;
    background-color:#252A2B;
    color:white;
    border-right: 1px solid black;

}

/* adds an underline effect to lower right box titles and centers them */
.lower_right_title{
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 2px;
    font-family: 'Kalam'
    font-size: 25px;
    font-weight: 700;
/*    border-bottom: 3px solid white;*/
}
/* this was done to make smaller margins than the one above for attack
   so the underline fits better and the words to remain central without stacking */

/* we may need to find a better solution because what about different resolutions? */
.smaller_margins{
    margin-left: 73px;
    margin-right: 73px;
}

/*this is the unordered list containing the ship selection buttons*/
.ships{
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* this is the class held by the boxes/divs that show up in the buttons for selecting a ship*/
.shipbox{
  width:30px;
  height:30px;
  margin: 0;
  padding:0;
  border: 2px solid black;
  display:inline-block;
}

/* =======  GRIDS ======================================================================== */

/* exterior of grid */
.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    background-color: lightblue;
}

/* grid boxes */
.battleGrid tr {
    border: 1px solid #909090;
    height: 30px;
}

/* grid boxes */
.battleGrid td {
    border: 1px solid #909090;
    width: 30px;
}

/* player second stage small version needs to be defined differently than main grids */
#player{
    margin: 10px 0px 0px 0px;
    background-color: #c4e3ed;
}

/* grid boxes */
#player tr {
    border: 1px solid #BEBEBE;
    height: 25px;
}

/* grid boxes */
#player td {
    border: 1px solid #BEBEBE;
    width: 25px;
}

/* =======  LEGEND  ====================================================================== */

/* individual boxes in the legend key */
.legend{
    width:20px;
    height:20px;
    margin:0px;
    border: 1px solid black;
    margin-left: 10px;
}

.legendTitle{
    font-size: 12pt;
    width:75px;
}

/* "Attack Enemy Ships by Clicking Spaces Above! */
#attack_instructions{
    font-size: 14pt;
    margin-bottom: 0px;
}

/* is the unordered list containing the legend for hit miss sunk... */
.key{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin: 5px;
}

/*gives a nice margin to the tutorial/instructions in place ship mode on lower left */
.tut{
    margin: 10px;
}

/* =======  MINI BOX HIGHLIGHTING  ======================================================= */


/* this color intentionally matches ship color */
td:hover {
    background-color: #505050;
}

/* target shade mirrors crosshair without being too bright */
.target {
    background-color: #cc0000;
}

/* a dark shade of grey to imitate an actual battleship.
   black on the bord is harsh to the eye as well */
.occupied {
    background-color: #505050;
}

/* red is a color that communicates danger/alarm/error, not
   success like we want our hits to communicate. red is also
   the color of the crosshair. going orange instead. */
.hit {
    background-color: orange;
}

/* after some testing, this was nice for having contrast without
   the contrast being too harsh. */
.sunk {
    background-color: #e67e00;
}

/* same thing. did some experimenting for the proper level of contrast/similarity */
.miss {
    background-color: steelblue;
}

.cqhit {
    background-color: #6B8E23;
}

/* basically black, but a little less harsh */
.sonar_occupied {
    background-color: #262626;
}

.sonar_empty {
    background-color: lightgray;
}

/* =======  INACTIVE  ==================================================================== */

/* important line */

.inactive{
    display:none;
}

/* =======  LIST, PARAGRAPH, AND BUTTONS  ================================================ */

/* get rid of bullet points on list */
ul{
    display:block;
    padding:0 0 0px;
}

/* allows for a small separation in list elements */
li{
    display:flex;
    flex-direction:row;
    padding: 5px;
    font-family: 'Kalam';
    font-size: 20px;
}

/* standard paragraph text format */
p{
    margin: 2px;
    font-size: 20px;
    font-family: 'Kalam'
}

/* make the buttons look a little more sleek and modern */
button{
    margin-top: 0px;
    border-style:hidden;
    border-radius:0px;
    background-color: lightgray;
    padding: 0px 0px 0px;
}

/* button color when moused over */
/* orange for uniformity/satisfaction, also aqua is too close in color to the water */
button:hover{
    background-color: orange;
}

/* hover and active. used for ship select */
.btnactive{
    background-color: orange;
}

/* LK TODO */
#opponent:hover{
/*    font awesome / google icons   */
/* slow rotation if you can */
/* arrow keys are first priority */
    cursor: url('target.cur'),crosshair;
}

/* =======  MODAL STUFF BELOW  ======================================================== */

/* dim background when modal exists */
#modal-backdrop-inv {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

/* base */
#modal-inv {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

/* dialog box */
.modal-dialog-inv {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

/* banner */
.modal-header-inv {
  position: relative;
  padding: 10px 20px;
}

/* header */
.modal-header-inv h3 {
  margin: 0;
  font-size: 28px;
}

/* close button */
.modal-close-button-inv {
  position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    cursor: pointer;
}

/* body */
.modal-body-inv {
  padding: 20px;
}

/* footer */
.modal-footer-inv {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

/* okay button */
.modal-footer-inv button {
   font-size: 20px;
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
    cursor: pointer;
}

/* hovering over okay button */
.modal-footer-inv .modal-okay-button-inv:hover {
  background-color: #eee;
}

/* =======  SONAR MODAL  ======================================================== */

/* main box positioned relative to the viewport */
/* cognizant of the backdrop art in precise placement */
#modal-sonar {
  position: fixed;
  top: 500px;
  right: 150px;
  z-index: 1010;
  overflow: scroll;

  width: 250px;
  height: 215px;
  margin: 10px;
  background-color: #fff;

  /* drop shadow of approx. half intensity of main container */
  box-shadow:10px 10px 20px rgba(0,37,37,.2);
  border: 2px solid black;
  border-radius: 15px;
}

/* body that holds text */
#modal-body-sonar {
  padding: 15px;
  display: flex;
  justify-content: center;
}

#modal-body-sonar > p {
    font-size: 16px;
}

/* footer that holds button */
#modal-footer-sonar {
  display: flex;
  justify-content: center;
/*  padding: 10px 10px 20px 10px;*/
}

/* fire sonar button */
#fire-sonar-button {
   font-size: 18px;
   background-color: #fff;
   color: #333;
   border-radius: 5px;
   padding: 10px;
   cursor: pointer;
}

/* hovering over fire button */
#modal-footer-sonar #fire-sonar-button:hover {
  background-color: #eee;
}


/* ======= GAME OVER MODAL STUFF BELOW  ================================================== */
#modal-backdrop-gg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#modal-gg {
  position: fixed;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.modal-dialog-gg {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header-gg {
  position: relative;
  padding: 10px 20px;
}

.modal-header-gg h3 {
  margin: 0;
  font-size: 28px;
}

/* currently commented out in js and html to make code more robust */
/*.modal-close-button-gg {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}*/

.modal-body-gg {
  padding: 20px;
}

.modal-footer-gg {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

/* currently commented out in js and html to make code more robust */
/* game over okay button */
/*
.modal-footer-gg button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 7px;
  margin-right: 10px;
  margin-top: 95px;
  cursor: pointer;
}*/

.modal-footer-gg .modal-okay-button-gg:hover {
  background-color: #eee;
}

/* ======= FINALIZING TEXT/IMAGE CHANGES  ================================================ */

/* headline text for both error and game over modals */
h3{
    font-family: 'Kalam';
    font-size: 50px;
    font-weight: 700;
}

/* end of game modal text body */
h4{
  font-family: 'Kalam';
  font-size: 25px;
  font-weight: 400;
}

html{
    background-image:url('background.jpg');
    background-size: 100% 100%;
}